/* .App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}


.message__main{
  display: flex;
  flex-direction: column;
  

}
.message__window{
  height: 600px;
  display: flex;
}
.message__chat{
 flex-basis: 200px;
 border:1px solid #282c34;
}
.message__field {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  
  height: 100%;
  width: 100%;
  /*  */
  /* overflow-y: scroll;
  background-color: #fff; */
  /* background-image: url(../img/img-fonChat.png); */
/* } */
/* 
.message__form{
 
} */ 
.App {
  text-align: center;
  margin: 0 auto;
  background-color: bisque;
  width: 1000px;
  height: 100vh;
}
.container{
  
  display: flex;
}
